body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    color: #333;
    font-size: 2em;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2em;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}

img{
    border-radius: 10px;
    width: 250px;
}

.contato{
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    form {
        width: 80%;
    }
}


